.App {
  display: flex;
  justify-content: space-around;
}

body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.button-add {
  font-family: "Montserrat", sans-serif;
  background-color: #77cf40;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}

.button-delete {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  background-color: #dcedf7;
  padding: 15px;
}

.whole-plan {
  width: 70%;
  height: 100vh;
}

.myInput {
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  display: block;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

.selected {
  background-color: #fad106;
}

.default {
  background-color: #dcedf7;
}

p {
  color: #ffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.field {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}